*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Roboto";
}

.contenedor{
    padding: 102px 38px;
    height: 100vh;
    display: flex;
    align-items: center;
    border: solid;
    justify-content: center;
}

.form{
    width: 100%;
    display: grid;
    gap: 20px;
    max-width: 450px;
}

.label{
    display: block;
    font-size: 24px;
}

.input-text, 
.textarea{
    font-family: "Roboto";
    background: #C4C4C4;
    border: none;
    font-size: 24px;
    display: block;
    width: 100%;
    border-radius: 0%;
    padding: 10px;
}


.textarea{
    min-height: 210px;
}

.button{
    width: 100%;
    font-size: 24px;
    padding: 20px;
    background: #5BCEFF;
    border: none;
}